{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <h1>Team Members</h1>
  <p class="text-warning">
    Meet our great team!
  </p>
</div>
<div class="text-center">
  <div class='container'>
    <div class='row'>
      <div class='col-md-4'>
        Momina <a class="button" href ="/momina"><img class='img-circle' style="width:350px;height:350px" src="/static/images/momina.jpg"></a>
      </div>
      <div class='col-md-4'>
        Arline!! <a class="button" href ="/arlene"><img class='img-circle'style="width:350px;height:350px" src="/static/images/arline.png"></a>

      </div>
      <div class='col-md-4'>
        Stephanie <a class="button" href ="/stephanie"><img class='img-circle'style="width:350px;height:350px" src="/static/images/stephanie.JPG"></a>
      </div>

    </div>

{% endblock %}
