{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <h1>BranDine</h1>
  <p class="text-warning">
    This service is for access to the Menu, Feed, Reviews and Traffic
  </p>
</div>
<div class="text-center">
  <h1>BranDine: Here for you dining needs  .</h1>
      <div class="option-menu" width:"500px" height: 500px">
        <p> Click to view the menu!
          <a class="btn btn-lg btn-info"
            href="https://brandeis.sodexomyway.com/dining-choices/index.html">Sodexo Menus</a>
          </a>
        </p>

  <hr>
<img src="https://timedotcom.files.wordpress.com/2017/01/170117_collegedining.jpg?quality=85" width=80% height=80%>
</div>

{% endblock %}
