{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <h1>BranDine</h1>
  <p class="text-warning">
    This service is for access to the Menu, Feed, Reviews and Traffic
  </p>
</div>
<div class="text-center">
  <h1>BranDine: Here for you dining needs  .</h1>
      <div class="option-menu" width:"500px" height: 500px">
        <p> Click to view the menu!</p>

  <hr>
  <img class = "img-square"
       src="Desktop/LOGO.jpg"
       alt="Tim Hickey from Apr 2008">
</div>

{% endblock %}
