{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <h1>Menu</h1>
</div>
<div class="bg-info">

<a class="btn btn-lg btn-info"
  href="https://brandeis.sodexomyway.com/dining-choices/dining-map.html">What's open</a>
</a>

<a class="btn btn-lg btn-info"
  href="https://brandeis.sodexomyway.com/dining-choices/index.html">Sodexo Menus</a>
</a>
-<h1>Popular choices</h1>

<h2>Einsteins</h2>
<ul>
  <li>Coffee</h2>
  <li>Bagels</h2>
  <li>Sandwich<h2>
</ul>
<h3>Sherman Dining Hall</h3>
  <li>Salad Bar</h3>
  <li>Burger Bar</h3>
  </ul>
<h3>Usdan Dining Hall</h3>
    <li>Pizza(Cheese, Vegan, Chicken)</h3>
    <li>Cilantro Rice</h3>
    <li>Grilled Chicken</h3>
    <li>French Fries</h3>
</ul>
</div>

{% endblock %}
