{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <h1>Team Members</h1>
  <p class="text-warning">
    Meet our great team!
  </p>
</div>
<div class="text-center">
  <div class='container'>
    <div class='row'>
      <div class='col-md-4'>
        Momina <img class='img-circle' style="width:350px;height:350px" src="https://lh3.google.com/u/0/d/14SXLVtmiex8MyyNW0C92LMAAcXjHx5R9=w1193-h914-iv1">
      </div>
      <div class='col-md-4'>
        Arline <img class='img-circle'style="width:350px;height:350px" src="https://lh3.google.com/u/0/d/1XynsbgNuiU1RQswgrKtBl3rjxdq_Qel_=w1193-h914-iv1">
      </div>
      <div class='col-md-4'>
        Stephanie <img class='img-circle'style="width:350px;height:350px" src="https://lh3.google.com/u/0/d/1KdRpscCv67vVPe1vhPEPeBY875gEauvj=w1304-h914-iv1">
      </div>
    </div>

{% endblock %}
