{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <h1>Team Members</h1>
  <p class="text-warning">
    Meet our great team!
  </p>
</div>
<div class="text-center">
  <div class='container'>
    <div class='row'>
      <div class='col-md-4'>
        Momina <a class="button" href ="/momina"><img class='img-circle' style="width:350px;height:350px" src="https://scontent.fzty2-1.fna.fbcdn.net/v/t1.0-9/23561372_1654797047873882_8954266353223967976_n.jpg?oh=a153658311f5392c0033599a768e9d30&oe=5AABDEDC"></a>
      </div>
      <div class='col-md-4'>
        Arline!! <button><img class='img-circle'style="width:350px;height:350px" src="/static/images/arline.png"></button>

      </div>
      <div class='col-md-4'>
        Stephanie <button><img class='img-circle'style="width:350px;height:350px" src="https://scontent.fzty2-1.fna.fbcdn.net/v/t1.0-9/23658671_1654797287873858_2036428910195663268_n.jpg?oh=5921ba1fd09268dae09dfe4122655d87&oe=5AA58024"></button>
      </div>

    </div>

{% endblock %}
